<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        
        <input
          type="number"
          class="form-control"
          placeholder="Minimum price"
          [(ngModel)]="minPrice"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Maximum price"
          [(ngModel)]="maxPrice"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Minimum size"
          [(ngModel)]="minSize"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Maximum size"
          [(ngModel)]="maxSize"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Minimum rooms"
          [(ngModel)]="minRooms"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Maximum rooms"
          [(ngModel)]="maxRooms"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Minimum bathrooms"
          [(ngModel)]="minBathrooms"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Maximum bathrooms"
          [(ngModel)]="maxBathrooms"
        />
        <label for="check"> Pets Allowed
        <input 
          value="{{petsAllowed}}"
          type="checkbox"
          required
          [(ngModel)]="petsAllowed"
          checked="petsAllowed">
        </label>
        <label for="check"> Smoking Allowed
        <input 
          value="{{smokingAllowed}}" 
          type="checkbox" 
          required
          [(ngModel)]="smokingAllowed"
          checked="smokingAllowed">
        </label>
        <label for="check"> Furnished
        <input 
          value="{{furnished}}" 
          type="checkbox" 
          required
          [(ngModel)]="furnished"
          checked="furnished">
        </label>
        <label for="check"> Laundry
        <input 
          value="{{laundry}}" 
          type="checkbox"
          required
          [(ngModel)]="laundry"
          checked="laundry">
        </label>

        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search By Title
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchByFilters()"
          >
            Search By Filters
          </button>
        </div>
        <!-- <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <h4>Rentals List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let rental of rentals; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveRental(rental, i)"
        >
          {{ rental.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllRentals()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentRental">
        <h4>Rental</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentRental.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentRental.description }}
        </div>
        <div>
          <label><strong>Price:</strong></label>
          {{ currentRental.price }}
        </div>
        <div>
          <label><strong>Size:</strong></label>
          {{ currentRental.size }}
        </div>
        <div>
          <label><strong>Rooms:</strong></label>
          {{ currentRental.rooms }}
        </div>
        <div>
          <label><strong>Bathrooms:</strong></label>
          {{ currentRental.bathrooms }}
        </div>
        <div>
          <label><strong>Pets Allowed:</strong></label>
          {{ currentRental.petsAllowed }}
        </div>
        <div>
          <label><strong>Smoking Allowed:</strong></label>
          {{ currentRental.smokingAllowed }}
        </div>
        <div>
          <label><strong>Laundry:</strong></label>
          {{ currentRental.laundry }}
        </div>
        <div>
          <label><strong>Furnished:</strong></label>
          {{ currentRental.furnished }}
        </div>
  
        <a class="badge badge-warning" routerLink="/rentals/{{ currentRental.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentRental">
        <br />
        <p>Please click on a Rental...</p>
      </div>
    </div>
  </div>
  