<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
        <h3>Requirements</h3>
        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Minimum Price"
            [(ngModel)]="minPrice"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Price Priority"
            [(ngModel)]="preferencePrice"
          />
        </div>

        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Maximum Price"
            [(ngModel)]="maxPrice"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Size Priority"
            [(ngModel)]="preferenceSize"
          />
        </div>
        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Minimum Size"
            [(ngModel)]="minSize"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Rooms Priority"
            [(ngModel)]="preferenceRooms"
          />
        </div>
        
        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Maximum Size"
            [(ngModel)]="maxSize"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Bathrooms Priority"
            [(ngModel)]="preferenceBathrooms"
          />
        </div>

        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Minimum Rooms"
            [(ngModel)]="minRooms"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Pets Allowed Priority"
            [(ngModel)]="preferencePets"
          />
        </div>

        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Maximum Rooms"
            [(ngModel)]="maxRooms"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Smoking Priority"
            [(ngModel)]="preferenceSmoking"
          />
        </div>

        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Minimum Bathrooms"
            [(ngModel)]="minBathrooms"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Bathrooms Priority"
            [(ngModel)]="preferenceFurnished"
          />
        </div>

        <div>
          <input
            type="number"
            class="form-control"
            placeholder="Maximum Bathrooms"
            [(ngModel)]="maxBathrooms"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Laundry Priority"
            [(ngModel)]="preferenceLaundry"
          />
        </div>

        <div>
          <label for="check">
            <input 
              value="{{petsAllowed}}"
              type="checkbox"
              required
              [(ngModel)]="petsAllowed"
              checked="petsAllowed">
              Pets Allowed
          </label>
        </div>

        <div>
          <label for="check">
            <input 
              value="{{smokingAllowed}}" 
              type="checkbox" 
              required
              [(ngModel)]="smokingAllowed"
              checked="smokingAllowed">
              Smoking Allowed
          </label>
        </div>

        <div>
          <label for="check">
            <input 
              value="{{furnished}}" 
              type="checkbox" 
              required
              [(ngModel)]="furnished"
              checked="furnished">
              Furnished
          </label>
        </div>

        <div>
          <label for="check">
            <input 
              value="{{laundry}}" 
              type="checkbox"
              required
              [(ngModel)]="laundry"
              checked="laundry">
              Laundry
          </label>
        </div>
        
        <div class="example-button-row">
          <button
          mat-raised-button color="primary"
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchByFilters()">Search
        </button>
        
        <button
        mat-raised-button color="secondary"
        class="btn btn-outline-secondary"
        type="button"
        (click)="removeAllRentals()">Remove All
      </button>
    </div>
  </div>

  <div class="col-md-6">
    <h4>Rentals List</h4>
    <mat-list role="list" class="list-group">
      <mat-list-item role="listitem"
        class="list-group-item"
        *ngFor="let rental of rentals; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRental(rental, i)"
      >
        {{ '$' + rental.price + ', ' + rental.size + ' ft², ' + rental.bedrooms + ' bed, ' + rental.bathrooms + ' bath'}}
      </mat-list-item>
    </mat-list>
  
    <div class="example-button-row">

    </div>

  </div>
  
  <div class="col-md-7">
      <h3>Rental Details</h3>
      <div *ngIf="currentRental">
        <label><strong>Title:</strong></label> 
        <div class="text">
          {{ currentRental.title }}
        </div>
        <label><strong>Address:</strong></label>
        <div class="text"> 
          {{ currentRental.address }}
        </div>
        <div>
          <label><strong>Price:</strong></label>
          ${{ currentRental.price }}
        </div>
        <div>
          <label><strong>Size:</strong></label>
          {{ currentRental.size }} ft<sup>2</sup>
        </div>
        <div>
          <label><strong>Bedrooms:</strong></label>
          {{ currentRental.bedrooms }}
        </div>
        <div>
          <label><strong>Bathrooms:</strong></label>
          {{ currentRental.bathrooms }}
        </div>
        <div>
          <label><strong>Pets Allowed:</strong></label>
          {{ currentRental.petsAllowed }}
        </div>
        <div>
          <label><strong>Smoking Allowed:</strong></label>
          {{ currentRental.smokingAllowed }}
        </div>
        <div>
          <label><strong>Laundry:</strong></label>
          {{ currentRental.laundry }}
        </div>
        <div>
          <label><strong>Furnished:</strong></label>
          {{ currentRental.furnished }}
        </div>
        <div>
          <a href = "{{ currentRental.url }}">Details</a>
        </div>

        <div>
          <img src="{{ currentRental.image }}" width="25%" height="25%" >
        </div>
  
        <a class="badge badge-warning" routerLink="/rentals/{{ currentRental.id }}">
          Edit
        </a>
      </div>
      
  
      <div *ngIf="!currentRental">
        <br />
        <p>Please click on a Rental...</p>
      </div>
    </div>
  </div>
  
  