<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <label for="title">Title</label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="rental.title"
            name="title"
          />
        </div>

        <label for="description">Description</label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="description"
            required
            [(ngModel)]="rental.description"
            name="description"
          />
        </div>
  
        <label for="price">Price</label>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="price"
            required
            [(ngModel)]="rental.price"
            name="price"
          />
        </div>

        <label for="size">Size</label>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="size"
            required
            [(ngModel)]="rental.size"
            name="size"
          />
        </div>

        <label for="rooms">Rooms</label>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="rooms"
            required
            [(ngModel)]="rental.rooms"
            name="rooms"
          />
        </div>

        <label for="bathrooms">Bathrooms</label>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="bathrooms"
            required
            [(ngModel)]="rental.bathrooms"
            name="bathrooms"
          />
        </div>

        <div class="form-group">
          <input 
          value="{{rental.petsAllowed}}"
          type="checkbox"
          required
          [(ngModel)]="rental.petsAllowed"
          checked="rental.petsAllowed">
          <label for="petsAllowed">Pets Allowed</label>
        </div>

        <div class="form-group">
          <input 
          value="{{rental.smokingAllowed}}" 
          type="checkbox" 
          required
          [(ngModel)]="rental.smokingAllowed"
          checked="rental.smokingAllowed">
          <label for="smokingAllowed">Smoking Allowed</label>
        </div>

        <div class="form-group">
          <input 
          value="{{rental.furnished}}" 
          type="checkbox" 
          required
          [(ngModel)]="rental.furnished"
          checked="rental.furnished">
          <label for="furnished">Furnished</label>
        </div>

        <div class="form-group">
          <input 
          value="{{rental.laundry}}" 
          type="checkbox"
          required
          [(ngModel)]="rental.laundry"
          checked="rental.laundry">
          <label for="laundry">Laundry</label>
        </div>
  
        <button (click)="saveRental()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newRental()">Add</button>
      </div>
    </div>
  </div>